.navbar {
  background-color: #3609bd;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 20px;
  font-weight: bold;
}

.navbar-title {
  margin: 0;
  color: white;
  margin-right: 40px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  flex-grow: 1;
}

.navbar-link:hover {
  background-color: #0056b3;
}


