.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form .form-group {
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  form input[type="file"] {
    padding: 3px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
  }

  .form-control {
    margin-bottom: 20px; 
  }
  
 