.articles-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .articles-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .article-container {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .articles-button-containter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .articles-button-show-more{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .articles-button-show-more {
    background-color: #0056b3;
    transform: scale(1.05);
  }

