.homepage {
  padding-top: 80px;
  padding-left: 100px;
  background-color: white;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 30px;
}

.homepage-main-article {
  grid-column: span 3;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

