.homepage {
  padding-top: 80px;
  padding-left: 100px;
  background-color: white;
}

.homepage-title {
  text-align: center;
  margin-bottom: 40px;
  color: blue;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .article-list {
    justify-content: center;
  }
}
